<%# This file has been deprecated. Profile editing is now handled by devise/registrations/edit.html.erb %>
<div class="alert alert-info">
  <p><strong>このページは廃止されました。</strong></p>
  <p>プロフィール設定は <%= link_to "アカウント設定", edit_user_registration_path, class: "link-primary" %> からアクセスしてください。</p>
</div>

<script>
  // Automatically redirect to the new profile page
  setTimeout(function() {
    window.location.href = '<%= edit_user_registration_path %>';
  }, 3000);
</script>
